@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background:url(images/bg.gif) repeat-x;
	font-family:Helvetica, Arial, sans-serif;
}
a {
	color:#021038;
	
}
a, u {
    text-decoration: none;
}
h1, h2, h5, h6 {color:#235e9b;}
.wrapper {
	width:800px;
	margin:0 auto;
}
scrolltable
{
	
	background:url(images/BGSlice.png) repeat-x;
}
h3
{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	padding:10px;
}

h4
{
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding:10px;
	font-style:italic
	
}
#tbanner {
	height:185px;
	background:url(~/images/header-bg.gif) top center repeat-x;
}
#content {
	margin-top:-20px;
}
#logo {
	display:block;
	width: 185px;
	height:185px;
	background:url(images/logo.png) no-repeat;
	float:left;
	position:relative;
	z-index:999;
}
#logo h1 {
	position:absolute;
	left:-9999px;
	margin:0;
}
#searchbar {
	height: 38px;
	text-align:right;
}
.clear {
	clear:both;
}
#banner {
	height: 100px;
}
#navbar {
	margin: 0 0 0 180px;
}
#navbar ul {
	list-style:none;
	margin:0;
	padding:2px 0;
}

/* Previous top menu Style */
#navbar ul li a {
	display:block;
	float:left;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 10px;
	border-right: solid 2px #235e9b;
}


#navbar ul li a.last {
	border-right:none;
}
#navbar ul li a:hover {
	text-decoration:underline;
}
#footer {
	background:url(images/footer-bg.gif) repeat-x;
	text-align:center;
	color:#fff;
	padding:10px;
	min-height:200px;
	margin:20px 0 0 0;
	font-size: 12px;
	
}
#footer a {
	color:#fff;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#bottomcontent {
	width: 792px;
	background:url(images/updatebox-top.png) no-repeat top center;
	min-height: 300px;
	padding:14px 4px;
}

#bottomcontent2 {
	width: 800px;
	background:url(images/updatebox-top2.png) no-repeat top center;
	min-height: 300px;
	padding:14px 4px;
}
.infobox {
	width:238px;
	padding:8px;
	float:left;
}
#infobox1.infobox,
#infobox3.infobox {
}
.db
{
 line-height:30px;
}
#subpage-top {
	background:url(images/subpage-top.png) no-repeat;
	height:17px;
	width:800px;	
}
#subpage {
	padding:0 ;
	background:url(images/subpage-bg.png) repeat-y;	
}
#subpage-bottom {
	background:url(images/subpage-bottom.png) no-repeat;
	height:17px;
	width:800px;	
}
#subpage h1 {
	margin-top:0;
}
.column {
	float:left;
	padding: 0 10px;
	min-height:400px;
	color:#333;
}
#rcolumn {
	width:210px;
}
#lcolumn {
	width:550px;
}
.infobox h3 {
	margin:5px 0;
	color:#125192;
}
.infobox ul {
	list-style:none;
	margin:0;
	padding:0;
}
.infobox ul img {
	vertical-align:middle;
	display:block;
	float:left;
	margin:2px;
}
.infobox ul li {
	clear:both;
	display:block;
	padding:5px 0;
}
.infobox ul li a {
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	color:#333;
}
.infobox ul li a:hover {
	text-decoration:underline;
}
#paximage {
	width: 120px;
	display:block;
	float:right;
}
#paxlist {
	width: 110px;
	float:left;
}



/* The following controls the look of the menu dropdowns */


#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

/* Controls look of Main Menu Items at top */

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 125px;
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-size:18px;
	border-right: solid 2px #235e9b;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;	
    z-index: 100001 !important;
	
	}

#sddm li a:hover
{
}


#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}
	
	
/* Controls look of Drop Menu itself */

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 14px arial}

/* Controls look of actual hover over drop menu items */
	#sddm div a:hover
	{	background: #235E9B;
		color: #fff}
